#translatePopup.modal.fade(data-replace="true", tabindex='-1', role='dialog', aria-labelledby='translate-label', aria-hidden='true')

  .modal-content

    .modal-header
      button(type="button", class="close", data-dismiss="modal", aria-hidden="true") x

    #content.modal-body

    .modal-footer
      .row
        button(type='button')#translate.btn.btn-primary Translate using this language
        select#language
          option(value='auto', selected='selected') autodetect
          each l in ['cs', 'en', 'de']
            option(value=l)= l
