.ui-modal-inner

  .loader

  .content
    p.translate-result

  .controls
    select.select-language
      option(value='auto', selected=true)
        | autodetect
      each l in ['cs', 'en', 'de']
        option(value=l)= l