#jq-scalebreaker-dialog-content .kitt-translate-result {
  font-size: 16px;
  font-family: sans-serif;
  color: #000;
  line-height: 1.5;
}

#jq-scalebreaker-dialog-content .kitt-translate-select-language {
  margin-top: 15px;
  float: right;
}

#jq-scalebreaker-dialog-content .kitt-translate-controls:before,
#jq-scalebreaker-dialog-content .kitt-translate-controls:after {
  content: "";
  display: table;
}

#jq-scalebreaker-dialog-content .kitt-translate-controls:after {
clear: both;
}

#jq-scalebreaker-dialog-content {
  padding: 30px !important;
}